@using Models

<div class="row">
    <div class="col-sm-6">@group.Name</div>
</div>

@foreach (var match in group.Matches)
{
<div class="row">
    <div class="col-sm-4">@match.Home.Name</div>
    <div class="col-sm-1"><img src="@match.Home.FlagUrl" /></div>
    <div class="col-sm-1"><input type="number" min="0" bind="@match.HomePredictedGoals" style="width: 40px;"/></div>
    <div class="col-sm-4">@match.Away.Name</div>
    <div class="col-sm-1"><img src="@match.Away.FlagUrl" /></div>
    <div class="col-sm-1"><input type="number" min="0" bind="@match.AwayPredictedGoals" style="width: 40px;" /></div>
</div>
}

@functions {

[Parameter]
private Group group { get; set; }

}