@page "/"
@using  Models
@inject HttpClient Http

@if (groups == null || teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="container">
        <div class="row" id="part-0" style='display: @(Visible[0] ? "initial" : "none")'>
            <div class="col-sm-12 content-part"><span>This is were all the cool information gets displayed :)</span></div>
        </div>

        @for (var i = 1; i <= 8; i++)
        {
            <div class="row" id="@String.Format("part-{0}", i)" style='display: @(Visible[i] ? "initial" : "none")'>
                <div class="col-sm-12 content-part"><GroupView group="@(groups[i - 1])"></GroupView></div>
            </div>
        }

        <div class="row" id="part-9" style='display: @(Visible[9] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa åttondelsfinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound5">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound6">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound7">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound8">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound9">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound10">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound11">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound12">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound13">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound14">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound15">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound16">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="part-10" style='display: @(Visible[10] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa kvartsfinalisterna</span></div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist1">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist2">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist3">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist4">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist5">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist6">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist7">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.QuarterFinalist8">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="part-11" style='display: @(Visible[11] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa semifinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span>Tippa finalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.Finalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.Finalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span>Tippa vinnarna</span></div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.Champion">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12"><span>Vilket lag gör flest mål?</span></div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.TopScoringTeam">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12"><span>Vilket lag har bästa målskytten?</span></div>
                <div class="col-sm-12">
                    <select bind="@ParticipantSubmission.TopScoringPlayerTeam">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="part-12" style='display: @(Visible[12] ? "initial" : "none")'>
            <div class="col-sm-12 content-part">
                <div class="row">
                    <input bind="@ParticipantSubmission.Name" placeholder="Namn" />
                </div>
                <div class="row">
                    <input type="email" bind="@ParticipantSubmission.Email" placeholder="Epost" />
                </div>
                <div style='display: @(!SubmissionValid() ? "initial" : "none")'>
                    <span>Du måste fylla i hela tipset korrekt för att kunna skicka in.</span>
                </div>
                <div style='display: @(SubmissionValid() ? "initial" : "none")'>
                    <button onclick="@Submit">Skicka in tips</button>
                </div>
            </div>
        </div>
        <button onclick="@CycleBack" class="btn btn-default">Föregående</button><button onclick="@CycleForward" class="btn btn-default float-right">Nästa</button>
    </div>
}

@functions {
    private const int partCount = 13;
    Group[] groups;
    Team[] teams;
    int Showing { get; set; } = 0;
    bool[] Visible { get; set; } = new bool[] { true, false, false, false, false, false, false, false, false, false, false, false, false };
    Submission ParticipantSubmission { get; set; } = new Submission();

    void CycleParts(int steps)
    {
        Showing = (Showing + steps + partCount) % partCount;

        for (var i = 0; i < partCount; i++)
        {
            Visible[i] = i == Showing;
        }
    }

    void CycleBack()
    {
        CycleParts(-1);
    }

    void CycleForward()
    {
        CycleParts(1);
    }

    async Task Submit()
    {

    }

    bool SubmissionValid()
    {
        

        if (ParticipantSubmission.SecondRounders.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (ParticipantSubmission.SecondRounders.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (ParticipantSubmission.QuarterFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (ParticipantSubmission.QuarterFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (ParticipantSubmission.SemiFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (ParticipantSubmission.SemiFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (ParticipantSubmission.Finalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (ParticipantSubmission.Finalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantSubmission.Champion))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantSubmission.TopScoringTeam))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantSubmission.TopScoringPlayerTeam))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantSubmission.Name))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantSubmission.Email))
        {
            return false;
        }

        try
        {
            var address = new System.Net.Mail.MailAddress(ParticipantSubmission.Email);
            return address.Address == ParticipantSubmission.Email;
        }
        catch
        {
            return false;
        }
    }

    protected override async Task OnInitAsync()
    {
        teams = await Http.GetJsonAsync<Team[]>("/sample-data/teams.json");
        groups = await Http.GetJsonAsync<Group[]>("/sample-data/groups.json");

        groups.ToList().ForEach(g =>
        {
            g.Teams = new List<Team>();
            g.Matches = new List<Match>();

            g.TeamNames.ForEach(tn =>
            {
                g.Teams.Add(teams.First(t => t.Name == tn));
            });

            g.MatchNames.ForEach(mn =>
            {
                g.Matches.Add(new Match()
                {
                    Home = teams.First(t => t.Name == mn[0]),
                    Away = teams.First(t => t.Name == mn[1])
                });
            });
        });
    }
}