@page "/"
@using  Models
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (ParticipantSubmission == null || ParticipantSubmission.Groups == null || ParticipantSubmission.Groups.Count != 8 || teams == null)
{
    <p><em>Vänta...</em></p>
}
else
{
    <div id="container">
        <div class="row" id="part-0" style='display: @(Visible[0] ? "initial" : "none")'>
            <div class="col-sm-12 content-part">
                <div class="row">
                    <h5>Hej och välkomna till VM-tipset! Må bäste tippare vinna.</h5>
                </div>
                <div class="row">
                    <p>
                        Tippa matchresultatet i samtliga gruppspelsmatcher, samt vilka lag som går till åttonsdelsfinal, kvartsfinal, semifinal och final.<br />
                        Dessutom ska du tippa vilket lag som vinner turneringen, vilket lag som gör flest mål, samt vilket lag som har turneringens skyttekung.<br />
                        För de två sistnämnda kategorierna delas full poäng ut till samtliga vinnare om flera länder hamnar på delat högsta målantal.<br />
                    </p>
                    <p>
                        Poäng för gruppspelsmatcherna är som följer:<br /><br />

                        Rätt antal mål för ett lag - 1p<br />
                        Rätt tecken - 2p bonus<br />
                        Exakt rätt resultat - 2p bonus
                    </p>
                    <p>
                        Poäng för övriga kategorier är:

                        Lag i åttondelsfinal - 2p<br />
                        Lag i kvartsfinal - 4p<br />
                        Lag i semifinal - 6p<br />
                        Lag i final - 8p<br />
                        Mästare - 10p<br />
                        Lag med flest gjorda mål - 5p<br />
                        Lag med bästa målskytten - 5p<br />
                    </p>
                </div>
            </div>

        </div>

        @for (var i = 1; i <= 4; i++)
        {
            <div class="row" id="@String.Format("part-{0}", i)" style='display: @(Visible[i] ? "initial" : "none")'>
                <div class="col-sm-12 content-part">
                    <GroupView group="@(ParticipantSubmission.Groups[2*i - 2])"></GroupView>
                    <GroupView group="@(ParticipantSubmission.Groups[2*i - 1])"></GroupView>
                </div>
            </div>
        }

        <div class="row" id="part-5" style='display: @(Visible[5] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span class="font-weight-bold">Tippa åttondelsfinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound5">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound6">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound7">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound8">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound9">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound10">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound11">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound12">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound13">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound14">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound15">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SecondRound16">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12"><span class="font-weight-bold">Tippa kvartsfinalisterna</span></div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist5">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist6">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist7">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.QuarterFinalist8">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="part-6" style='display: @(Visible[6] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span class="font-weight-bold">Tippa semifinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.SemiFinalist4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span class="font-weight-bold">Tippa finalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.Finalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@ParticipantSubmission.Finalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span class="font-weight-bold">Tippa vinnarna</span></div>
                <div class="row">
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.Champion">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span class="font-weight-bold">Vilket lag gör flest mål?</span></div>
                <div class="row">
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.TopScoringTeam">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span class="font-weight-bold">Vilket lag har bästa målskytten?</span></div>
                <div class="row">
                    <div class="col-sm-12">
                        <select bind="@ParticipantSubmission.TopScoringPlayerTeam">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row personal-data-entry">
                    <input bind="@ParticipantSubmission.Name" placeholder="Namn" />
                </div>
                <div class="row personal-data-entry">
                    <input type="email" bind="@ParticipantSubmission.Email" placeholder="Epost" />
                </div>
                <div style='display: @(!SubmissionValid() ? "initial" : "none")'>
                    <span>Du måste fylla i hela tipset korrekt för att kunna skicka in.</span>
                </div>
                <div style='display: @(SubmissionValid() ? "initial" : "none")'>
                    <button onclick="@Submit" class="btn btn-success">Skicka in tips</button>
                </div>
            </div>
        </div>
        <button onclick="@CycleBack" class="btn btn-primary">Föregående</button><button onclick="@CycleForward" class="btn btn-primary float-right">Nästa</button>
    </div>
}

@functions {
private const int partCount = 7;
List<Team> teams;
int Showing { get; set; } = 0;
bool[] Visible { get; set; } = new bool[] { true, false, false, false, false, false, false };
Submission ParticipantSubmission { get; set; } = new Submission();
private const string SubmissionUrl = @"https://prod-11.northeurope.logic.azure.com:443/workflows/161819e8b13147f997217940ed56d337/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Ymly_IacXujJaB-YGi7xVRKsN3edJ1MVY86xDWSnmFU";

void CycleParts(int steps)
{
    Showing = (Showing + steps + partCount) % partCount;

    for (var i = 0; i < partCount; i++)
    {
        Visible[i] = i == Showing;
    }
}

void CycleBack()
{
    CycleParts(-1);
}

void CycleForward()
{
    CycleParts(1);
}

async Task Submit()
{
    await Http.SendJsonAsync(HttpMethod.Post, SubmissionUrl, ParticipantSubmission);
    UriHelper.NavigateTo("/thanks");
}

bool SubmissionValid()
{


    if (ParticipantSubmission.SecondRounders.Any(entry => String.IsNullOrWhiteSpace(entry)))
    {
        return false;
    }

    if (ParticipantSubmission.SecondRounders.GroupBy(n => n).Any(c => c.Count() > 1))
    {
        return false;
    }

    if (ParticipantSubmission.QuarterFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
    {
        return false;
    }

    if (ParticipantSubmission.QuarterFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
    {
        return false;
    }

    if (ParticipantSubmission.SemiFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
    {
        return false;
    }

    if (ParticipantSubmission.SemiFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
    {
        return false;
    }

    if (ParticipantSubmission.Finalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
    {
        return false;
    }

    if (ParticipantSubmission.Finalists.GroupBy(n => n).Any(c => c.Count() > 1))
    {
        return false;
    }

    if (string.IsNullOrWhiteSpace(ParticipantSubmission.Champion))
    {
        return false;
    }

    if (string.IsNullOrWhiteSpace(ParticipantSubmission.TopScoringTeam))
    {
        return false;
    }

    if (string.IsNullOrWhiteSpace(ParticipantSubmission.TopScoringPlayerTeam))
    {
        return false;
    }

    if (string.IsNullOrWhiteSpace(ParticipantSubmission.Name))
    {
        return false;
    }

    if (string.IsNullOrWhiteSpace(ParticipantSubmission.Email))
    {
        return false;
    }

    try
    {
        var address = new System.Net.Mail.MailAddress(ParticipantSubmission.Email);
        return address.Address == ParticipantSubmission.Email;
    }
    catch
    {
        return false;
    }
}

protected override async Task OnInitAsync()
{
    teams = await Http.GetJsonAsync<List<Team>>("/sample-data/teams.json");
    teams = teams.OrderBy(t => t.Name).ToList();
    ParticipantSubmission.Groups = await Http.GetJsonAsync<List<Group>>("/sample-data/groups.json");

    ParticipantSubmission.Groups.ForEach(g =>
    {
        g.Teams = new List<Team>();
        g.Matches = new List<Match>();

        g.TeamNames.ForEach(tn =>
        {
            g.Teams.Add(teams.First(t => t.Name == tn));
        });

        g.MatchNames.ForEach(mn =>
        {
            g.Matches.Add(new Match()
            {
                Home = teams.First(t => t.Name == mn[0]),
                Away = teams.First(t => t.Name == mn[1])
            });
        });
    });
}
}