@page "/"
@using  Models
@inject HttpClient Http

@if (groups == null || teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="container">
        <div class="row" id="part-0" style='display: @(Visible[0] ? "initial" : "none")'>
            <div class="col-sm-12 content-part"><span>This is were all the cool information gets displayed :)</span></div>
        </div>

        @for (var i = 1; i <= 8; i++)
        {
            <div class="row" id="@String.Format("part-{0}", i)" style='display: @(Visible[i] ? "initial" : "none")'>
                <div class="col-sm-12 content-part"><GroupView group="@(groups[i-1])"></GroupView></div>
            </div>
        }

        <div class="row" id="part-9" style='display: @(Visible[9] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa åttondelsfinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound5">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound6">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound7">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound8">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound9">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound10">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound11">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound12">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound13">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound14">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SecondRound15">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SecondRound16">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="part-10" style='display: @(Visible[10] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa kvartsfinalisterna</span></div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist1">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist2">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist3">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist4">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist5">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist6">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist7">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <select bind="@QuarterFinalist8">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="part-11" style='display: @(Visible[11] ? "initial" : "none")'>
            <div class="content-part">
                <div class="col-sm-12"><span>Tippa semifinalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SemiFinalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SemiFinalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@SemiFinalist3">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@SemiFinalist4">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span>Tippa finalisterna</span></div>
                <div class="row">
                    <div class="col-sm-6">
                        <select bind="@Finalist1">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select bind="@Finalist2">
                            <option></option>
                            @foreach (var team in teams)
                            {
                                <option>@team.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12"><span>Tippa vinnarna</span></div>
                <div class="col-sm-12">
                    <select bind="@Champion">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12"><span>Vilket lag gör flest mål?</span></div>
                <div class="col-sm-12">
                    <select bind="@TopScoringTeam">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12"><span>Vilket lag har bästa målskytten?</span></div>
                <div class="col-sm-12">
                    <select bind="@TopScoringPlayerTeam">
                        <option></option>
                        @foreach (var team in teams)
                        {
                            <option>@team.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="part-12" style='display: @(Visible[12] ? "initial" : "none")'>
            <div class="col-sm-12 content-part">
                <div class="row">
                    <input bind="@ParticipantName" placeholder="Namn" />
                </div>
                <div class="row">
                    <input type="email" bind="@ParticipantEmail" placeholder="Epost" />
                </div>
                <div style='display: @(!SubmissionValid() ? "initial" : "none")'>
                    <span>Du måste fylla i hela tipset korrekt för att kunna skicka in.</span>
                </div>
                <div style='display: @(SubmissionValid() ? "initial" : "none")'>
                    <button onclick="@Submit">Skicka in tips</button>
                </div>
            </div>
        </div>
        <button onclick="@CycleBack" class="btn btn-default">Föregående</button><button onclick="@CycleForward" class="btn btn-default float-right">Nästa</button>
    </div>
}

@functions {
    private const int partCount = 13;
    Group[] groups;
    Team[] teams;
    int Showing { get; set; } = 0;
    bool[] Visible { get; set; } = new bool[] { true, false, false, false, false, false, false, false, false, false, false, false, false };

    string SecondRound1 { get; set; }
    string SecondRound2 { get; set; }
    string SecondRound3 { get; set; }
    string SecondRound4 { get; set; }
    string SecondRound5 { get; set; }
    string SecondRound6 { get; set; }
    string SecondRound7 { get; set; }
    string SecondRound8 { get; set; }
    string SecondRound9 { get; set; }
    string SecondRound10 { get; set; }
    string SecondRound11 { get; set; }
    string SecondRound12 { get; set; }
    string SecondRound13 { get; set; }
    string SecondRound14 { get; set; }
    string SecondRound15 { get; set; }
    string SecondRound16 { get; set; }

    string QuarterFinalist1 { get; set; }
    string QuarterFinalist2 { get; set; }
    string QuarterFinalist3 { get; set; }
    string QuarterFinalist4 { get; set; }
    string QuarterFinalist5 { get; set; }
    string QuarterFinalist6 { get; set; }
    string QuarterFinalist7 { get; set; }
    string QuarterFinalist8 { get; set; }

    string SemiFinalist1 { get; set; }
    string SemiFinalist2 { get; set; }
    string SemiFinalist3 { get; set; }
    string SemiFinalist4 { get; set; }

    string Finalist1 { get; set; }
    string Finalist2 { get; set; }

    string Champion { get; set; }
    string TopScoringTeam { get; set; }
    string TopScoringPlayerTeam { get; set; }

    string ParticipantName { get; set; }
    string ParticipantEmail { get; set; }

    void CycleParts(int steps)
    {
        Showing = (Showing + steps + partCount) % partCount;

        for (var i = 0; i < partCount; i++)
        {
            Visible[i] = i == Showing;
        }
    }

    void CycleBack()
    {
        CycleParts(-1);
        Console.WriteLine(SecondRound1);
    }

    void CycleForward()
    {
        CycleParts(1);
    }

    void Submit()
    {
        
    }

    bool SubmissionValid()
    {
        var secondRounders = new List<string>() { SecondRound1, SecondRound2, SecondRound3, SecondRound4, SecondRound5, SecondRound6, SecondRound7, SecondRound8,
            SecondRound9, SecondRound10, SecondRound11, SecondRound12, SecondRound13, SecondRound14, SecondRound15, SecondRound16 };
        var quarterFinalists = new List<string>() { QuarterFinalist1, QuarterFinalist2, QuarterFinalist3, QuarterFinalist4, QuarterFinalist5, QuarterFinalist6, QuarterFinalist7, QuarterFinalist8 };
        var semiFinalists = new List<string>() { SemiFinalist1, SemiFinalist2, SemiFinalist3, SemiFinalist4 };
        var finalists = new List<string>() { Finalist1, Finalist2 };

        if (secondRounders.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (secondRounders.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (quarterFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (quarterFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (semiFinalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (semiFinalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (finalists.Any(entry => String.IsNullOrWhiteSpace(entry)))
        {
            return false;
        }

        if (finalists.GroupBy(n => n).Any(c => c.Count() > 1))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(Champion))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(TopScoringTeam))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(TopScoringPlayerTeam))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantName))
        {
            return false;
        }

        if (string.IsNullOrWhiteSpace(ParticipantEmail))
        {
            return false;
        }

        return true;
    }

    protected override async Task OnInitAsync()
    {
        teams = await Http.GetJsonAsync<Team[]>("/sample-data/teams.json");
        groups = await Http.GetJsonAsync<Group[]>("/sample-data/groups.json");

        groups.ToList().ForEach(g =>
        {
            g.Teams = new List<Team>();
            g.Matches = new List<Match>();

            g.TeamNames.ForEach(tn =>
            {
                g.Teams.Add(teams.First(t => t.Name == tn));
            });

            g.MatchNames.ForEach(mn =>
            {
                g.Matches.Add(new Match()
                {
                    Home = teams.First(t => t.Name == mn[0]),
                    Away = teams.First(t => t.Name == mn[1])
                });
            });
        });
    }
}