@using Models

<h4>Ställning efter @(PlayedMatchCount / Submissions.Count) match@(PlayedMatchCount / Submissions.Count == 1 ? "" : "er")</h4>
<div class="standings-table">
    <div class="row">
        <div class="col-sm-2">
            Position
        </div>
        <div class="col-sm-9">
            Namn
        </div>
        <div class="col-sm-1">
            Poäng
        </div>
    </div>
    @for (var i = 0; i < Submissions.Count; i++)
    {
        var submission = Submissions[i];
        <div class='row @(i == 0 ? "colour-gold" : i == 1 ? "colour-silver" : i == 2 ? "colour-bronze" : string.Empty)'>
            <div class="col-sm-2">
                @(i + 1)
            </div>
            <div class="col-sm-9">
                @submission.Name
            </div>
            <div class="col-sm-1">
                @submission.Score
            </div>
        </div>
    }
</div>

@functions {

    [Parameter]
    private List<Group> Groups { get; set; }
    [Parameter]
    private List<Team> Teams { get; set; }
    [Parameter]
    List<Submission> Submissions { get; set; }
    [Parameter]
    int PlayedMatchCount { get; set; }

}