@using  Models

<div id="container">    

    @for (var i = 0; i < 4; i++)
    {
        <div class="row" id="@String.Format("part-{0}", i)" style='display: @(Visible[i] ? "initial" : "none")'>
            <div class="col-sm-12 content-part">
                <SubmittedGroupView group="@(ParticipantSubmission.Groups[2*i])"></SubmittedGroupView>
                <SubmittedGroupView group="@(ParticipantSubmission.Groups[2*i + 1])"></SubmittedGroupView>
            </div>
        </div>
    }

    <div class="row" id="part-4" style='display: @(Visible[4] ? "initial" : "none")'>
        <div class="content-part">
            <div class="col-sm-12"><span class="font-weight-bold">Tippade åttondelsfinalister</span></div>
            <div class="row">
                <div class="col-sm-6 @(ParticipantSubmission.TeamCanQualify(ParticipantSubmission.SecondRound1))">
                    @ParticipantSubmission.SecondRound1
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound3
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound4
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound5
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound6
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound7
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound8
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound9
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound10
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound11
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound12
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound13
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound14
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound15
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SecondRound16
                </div>
                <div class="col-sm-12"><span class="font-weight-bold">Tippade kvartsfinalister</span></div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist1
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist2
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist3
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist4
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist5
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist6
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist7
                </div>
                <div class="col-sm-12">
                    @ParticipantSubmission.QuarterFinalist8
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="part-5" style='display: @(Visible[5] ? "initial" : "none")'>
        <div class="content-part">
            <div class="col-sm-12"><span class="font-weight-bold">Tippade semifinalister</span></div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SemiFinalist1
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SemiFinalist2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.SemiFinalist3
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.SemiFinalist4
                </div>
            </div>
            <div class="col-sm-12"><span class="font-weight-bold">Tippade finalister</span></div>
            <div class="row">
                <div class="col-sm-6">
                    @ParticipantSubmission.Finalist1
                </div>
                <div class="col-sm-6">
                    @ParticipantSubmission.Finalist2
                </div>
            </div>
            <div class="col-sm-12"><span class="font-weight-bold">Tippade vinnare</span></div>
            <div class="row">
                <div class="col-sm-12">
                    @ParticipantSubmission.Champion
                </div>
            </div>
            <div class="col-sm-12"><span class="font-weight-bold">Vilket lag gör flest mål?</span></div>
            <div class="row">
                <div class="col-sm-12">
                    @ParticipantSubmission.TopScoringTeam
                </div>
            </div>
            <div class="col-sm-12"><span class="font-weight-bold">Vilket lag har bästa målskytten?</span></div>
            <div class="row">
                <div class="col-sm-12">
                    @ParticipantSubmission.TopScoringPlayerTeam
                </div>
            </div>
            <div class="row personal-data-entry">
                @ParticipantSubmission.Name
            </div>
            <div class="row personal-data-entry">
                @ParticipantSubmission.Email
            </div>
        </div>
    </div>
    <button onclick="@CycleBack" class="btn btn-primary">Föregående</button><button onclick="@CycleForward" class="btn btn-primary float-right">Nästa</button>
</div>

@functions {

[Parameter]
Submission ParticipantSubmission { get; set; }

private const int partCount = 6;
List<Team> teams;
int Showing { get; set; } = 0;
bool[] Visible { get; set; } = new bool[] { true, false, false, false, false, false };

void CycleParts(int steps)
{
    Showing = (Showing + steps + partCount) % partCount;

    for (var i = 0; i < partCount; i++)
    {
        Visible[i] = i == Showing;
    }
}

void CycleBack()
{
    CycleParts(-1);
}

void CycleForward()
{
    CycleParts(1);
}

}