@using Models

<div class="row">
    <div class="col-sm-6 font-weight-bold">@group.Name</div>
</div>

@foreach (var match in group.Matches)
{
    <div class='row group-game @(match.Points == 6 ? "match-points-6" : match.Points == 3 ? "match-points-3" : match.Points == 2 ? "match-points-2" : match.Points == 1 ? "match-points-1" : match.Points == 0 ? "match-points-0" : string.Empty)'>
        <div class="col-sm-3">@match.Home.Name</div>
        <div class="col-sm-1"><img src="@match.Home.FlagUrl" /></div>
        <div class="col-sm-1">@match.HomePredictedGoals</div>
        <div class="col-sm-1">@match.AwayPredictedGoals</div>
        <div class="col-sm-1"><img src="@match.Away.FlagUrl" /></div>
        <div class="col-sm-3">@match.Away.Name</div>
    </div>
}

@functions {

[Parameter]
private Group group { get; set; }

}